// Navigation Styles here
nav {
  padding: 0 10%;
  border-bottom: 2px dashed @navigation-border;

  .flex(space-between, stretch);

  h1 {
    padding: 2% 0;
  }

  .nav-bar {
    width: 45%;
    .flex();
  }

  a {
    width: 25%;
    height: 100%;
    .center();
    color: @font-color;
    font-size: 1.5rem;
    text-decoration: none;
    align-items: center;
  }

  @media @mobile {
    margin-top: 2%;
    padding: 0;
    .flex(center, center);
    flex-direction: column;
    
    .nav-bar {
      width: 100%;
      margin-top: 1%;
      justify-content: space-evenly;
    } 
    a {
      font-size: 1.2rem;
      padding-bottom: 2%;
    }
  }
}